.view-content-container {
	position: relative;
}
.view-content-container > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.transition-view-content {
	transition: transform 0.5s linear;
	transform-origin: top center;
	transform: translateX( 0 );
	opacity: 1;
	height: 100%;
}
.transition-view-content.out {
	transform: translateX( 100% );
}
.transition-view-content.in {
	/* Apply this instantly, then removing the "in" class will transition out slowly. */
	transition: transform 0s;
	transform: translateX( -100% );
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
