<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@title</title>
		<link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon.ico" />
		<link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png" />
		<!-- For iPhone 4 Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
		<!-- For iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
		<!-- For iPhone: -->
		<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/theme.min.css">
		<link rel="stylesheet" href="/assets/css/color-defaults.min.css">
		<link rel="stylesheet" href="/assets/css/swatch-red-white.min.css">
		<link rel="stylesheet" href="/assets/css/swatch-white-red.min.css">
		<link rel="stylesheet" href="/assets/css/fonts.min.css" media="screen">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body data-layout="ufront">
		<header id="masthead" class="navbar navbar-sticky swatch-red-white" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand pushstate">
						<!-- <img src="/assets/images/logo.png" alt="Ufront Logo"> -->
						Ufront
					</a>
				</div>
				<nav class="collapse navbar-collapse main-navbar" role="navigation">
					<!-- <div class="sidebar-widget widget_search pull-right">
						<form method="GET" action="/search">
							<div class="input-group">
								<input class="form-control" type="text" name="q" placeholder="Search here....">
								<span class="input-group-btn">
							<button class="btn" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</span>
							</div>
						</form>
					</div> -->
					<ul class="nav navbar-nav navbar-right">
						<li><a class="pushstate" href="/">Home</a></li>
						<li><a class="pushstate" href="/tour/">Tour</a></li>
						<!-- <li><a class="pushstate" href="/quick-start/">Quick-Start</a></li> -->
						<li><a class="pushstate" href="/documentation/">Documentation</a></li>
						<!-- <li><a class="pushstate" href="/blog/">Blog</a></li> -->
						<!-- <li><a class="pushstate" href="/showcase/">Showcase</a></li> -->
						<li><a class="pushstate" href="/community/">Community</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="view-content-container">
			<div id="viewContent" role="main" data-partial="view-content">@viewContent</div>
		</div>
		<footer id="footer" role="contentinfo">
			<section class="section swatch-red-white has-top">
				<div class="decor-top">
					<svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
					</svg>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<div id="swatch_social-2" class="sidebar-widget  widget_swatch_social">
								<ul class="unstyled inline small-screen-center social-icons social-background social-big">
									<li>
										<a target="_blank" href="https://github.com/ufront/ufront">
											<i class="fa fa-github"></i>
										</a>
									</li>
									<li>
										<a target="_blank" href="https://gitter.im/ufront/ufront">
											<i class="fa fa-wechat"></i>
										</a>
									</li>
									<li>
										<a target="_blank" href="http://twitter.com/ufronthaxe">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a target="_blank" href="http://stackoverflow.com/questions/tagged/ufront">
											<i class="fa fa-stack-exchange"></i>
										</a>
									</li>
								</ul>
							</div>
							<div id="text-4" class="sidebar-widget widget_text">
								<div class="textwidget">&copy; Jason O'Neil 2015</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</footer>
		<a class="go-top hex-alt" href="javascript:void(0)">
			<i class="fa fa-angle-up"></i>
		</a>
		<script src="/js/app.js"></script>
		<script src="/assets/js/packages.min.js"></script>
		<script src="/assets/js/theme.min.js"></script>
	</body>
</html>
