<div class="row">
	<ul class="list-unstyled row box-list ">
		<li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
			<div class="box-round">
				<div class="box-dummy"></div>
				<a class="box-inner " href="single-service.html">
					<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-composer.png" alt="a clock" data-animation="" />
				</a>
			</div>
			<h3 class="text-center ">
				<a href="single-service.html">Client and Server</a>
			</h3>
			<p class="text-center">
				<strong>Ufront can compile your models, view and controllers to run on both the server and the client.</strong>
				This means your app will be fast and kick-ass for most visitors, but still work great old browsers and SEO.
			</p>
		</li>
		<li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
			<div class="box-round">
				<div class="box-dummy"></div>
				<a class="box-inner " href="single-service.html">
					<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-bag.png" alt="a clock" data-animation="" />
				</a>
			</div>
			<h3 class="text-center ">
				<a href="single-service.html">Apps that scale</a>
			</h3>
			<p class="text-center">
				<strong>As your app or website grows, Ufront helps you handle the complexity.</strong>
				With a well defined structure, separation of concerns, dependency injection and easy unit testing, Ufront projects are maintainable projects.
			</p>
		</li>
		<li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
			<div class="box-round">
				<div class="box-dummy"></div>
				<a class="box-inner " href="single-service.html">
					<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-iphone-white.png" alt="a clock" data-animation="" />
				</a>
			</div>
			<h3 class="text-center ">
				<a href="single-service.html">Built with Haxe</a>
			</h3>
			<p class="text-center">
				<strong>Haxe is a superb programming language. It deserves a superb web framework.</strong>
				Ufront is built with the <a href="http://haxe.org">Haxe Toolkit</a>.
			</p>
		</li>
		<li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".9s">
			<div class="box-round">
				<div class="box-dummy"></div>
				<a class="box-inner " href="single-service.html">
					<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-clipboard.png" alt="a clock" data-animation="" />
				</a>
			</div>
			<h3 class="text-center ">
				<a href="single-service.html">Open source</a>
			</h3>
			<p class="text-center">
				<strong>Ufront is an open-source, community driven project.</strong>
				We're backed and supported by the Haxe Foundation, and all Ufront libraries are MIT licensed.
			</p>
		</li>
	</ul>
</div>
