<section class="section swatch-red-white">
	<div class="container">
		<header class="section-header underline">
			<h1 class="headline hyper hairline">The Ufront Community</h1>
			<p></p>
			<h3>Ask questions, get help and join in. Find others making high quality web apps with Ufront.</h2>
		</header>
	</div>
</section>
<section class="section swatch-white-red has-top">
	<div class="container">
		<div class="row">
			<ul class="list-unstyled row box-list ">
				<li class="col-md-3 text-center --os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
					<div class="box-round">
						<div class="box-dummy"></div>
						<a class="box-inner " href="http://stackoverflow.com/questions/tagged/ufront">
							<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-composer.png" alt="a clock" data-animation="" />
						</a>
					</div>
					<h3 class="text-center ">
						<a href="http://stackoverflow.com/questions/tagged/ufront">Stack Overflow (Support)</a>
					</h3>
					<p class="text-center">
						<strong>Have a Ufront question you need answered?</strong>
						We're using Stack Overflow for questions and answers.
						Write a question and add the <strong>ufront</strong> tag so we'll see it.
						You can also subscribe to see all ufront questions.
					</p>
				</li>
				<li class="col-md-3 text-center --os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
					<div class="box-round">
						<div class="box-dummy"></div>
						<a class="box-inner " href="http://gitter.im/ufront/ufront">
							<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-bag.png" alt="a clock" data-animation="" />
						</a>
					</div>
					<h3 class="text-center ">
						<a href="http://gitter.im/ufront/ufront">Gitter (Chat)</a>
					</h3>
					<p class="text-center">
						<strong>Ufront has an online chat room at Gitter.</strong>
						Sign in with your Github account, use web-chat, IRC, or the native apps, even request email notifications for new messages.
					</p>
				</li>
				<li class="col-md-3 text-center --os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
					<div class="box-round">
						<div class="box-dummy"></div>
						<a class="box-inner " href="https://github.com/ufront/ufront">
							<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-iphone-white.png" alt="a clock" data-animation="" />
						</a>
					</div>
					<h3 class="text-center ">
						<a href="https://github.com/ufront/ufront">Github (Contribute)</a>
					</h3>
					<p class="text-center">
						<strong>Bug reports, feature requests and pull requests.</strong>
						Github is where we discuss issues, brainstorm ideas and collaborate on code.
					</p>
				</li>
				<li class="col-md-3 text-center --os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
					<div class="box-round">
						<div class="box-dummy"></div>
						<a class="box-inner " href="http://groups.google.com/group/haxelang?hl=en">
							<img class="svg-inject" src="/assets/images/design/custom-icons/custom-icon-iphone-white.png" alt="a clock" data-animation="" />
						</a>
					</div>
					<h3 class="text-center ">
						<a href="http://groups.google.com/group/haxelang?hl=en">Mailing List</a>
					</h3>
					<p class="text-center">
						<strong>We also hang out on the Haxe mailing list.</strong>
						It's a great place to discuss more open ended questions or hear about what's happening in the Haxe world.
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>
