<section class="section swatch-red-white">
	<div class="container">
		<header class="section-header underline">
			<h1 class="headline hyper hairline">Ufront Documentation</h1>
		</header>
	</div>
</section>
<section class="section swatch-white-red has-top">
	<div class="container">
		<div class="panel panel">
			<ul class="list-group">
				<li class="list-group-item"><a class="pushstate" href="/tour/" />Tour</a></li>
				<!-- <li class="list-group-item"><a class="pushstate" href="/quick-start/" />Quick Start</a></li> -->
				<!-- <li class="list-group-item"><a class="pushstate" href="/tutorials/" />Tutorials</a></li> -->
				<li class="list-group-item"><a class="pushstate" href="http://api.ufront.net/ufront/" />API Docs</a></li>
				<!-- <li class="list-group-item"><a class="pushstate" href="/" />Showcase</a></li> -->
			</ul>
		</div>
	</div>
</section>
