<section class="section swatch-red-white">
	<div class="container">
		<header class="section-header underline">
			<h1 class="headline hyper hairline">Ufront</h1>
			<p class="big">The client-server web framework for Haxe.</p>
		</header>
	</div>
</section>
<section class="section swatch-white-red has-top">
	<div class="container">
		<header class="section-header underline">
			<h1 class="super hairline">Ufront is a powerful framework for writing isomorphic apps.</h1>
			<p class="">Learn more, get started, ask questions or join the community.</p>
		</header>

		<div class="panel panel">
			<ul class="list-group">
				<li class="list-group-item"><a class="pushstate" href="/tour/" />Tour</a></li>
				<!-- <li class="list-group-item"><a class="pushstate" href="/quick-start/" />Quick Start</a></li> -->
				<!-- <li class="list-group-item"><a class="pushstate" href="/tutorials/" />Tutorials</a></li> -->
				<li class="list-group-item"><a class="pushstate" href="http://api.ufront.net" />API Docs</a></li>
				<!-- <li class="list-group-item"><a class="pushstate" href="/" />Showcase</a></li> -->
				<li class="list-group-item"><a class="pushstate" href="/community" />Community</a></li>
			</ul>
		</div>
	</div>
</section>
